body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    color: #000000; 
    background: rgb(214, 177, 10);
}
label{
    display: inline-block;
    
}
input[type=text], input[type=number]{}

button{
    box-shadow: #000000;
    border: none;
    padding: 4px;
    
}
